<div class="container">
   
  <div class="row" id="play">
    <div class="panel">
      <div class="panel-body">
        <h3>How To Crap:</h3>
        <p>The goal of this game is to gain more crappy points than your opponent. Use your Leap Motion hand gesture to scroll through and choose which grid you are going to select to reveal the point value for that selection. The point values can either be positive or negative, based upon how "crappy" your selection is. Once all of the grid options have been chosen, then player with the greatest point amount wins and is the "crappiest of them all"!</p>
      </div>
    </div>
  </div>


   <div class="row">
      <div class="panel">
        <div class="panel-body">
          <h3>Crappy Technologies:</h3>
          
            <div class="list-group">
              <div>
              <a href="#" class="list-group-item">HTML5</a>
              <a href="#" class="list-group-item">Bootstrap</a>
              <a href="#" class="list-group-item">MongoDB</a>
              <a href="#" class="list-group-item">Mongoose</a>
              <a href="#" class="list-group-item">Leap Motion</a>
              <a href="#" class="list-group-item">Express</a>
              <a href="#" class="list-group-item">Node.js</a>
              <a href="#" class="list-group-item">Heroku</a>
              <a href="#" class="list-group-item">Github</a>
              <a href="#" class="list-group-item">MVC Paradigm</a>
            </div>
            </div>
        </div>
      </div>
    </div>
  <br>
{{!-- <div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Contact Form</h3>
    </div>
    <div class="panel-body">
      {{#if messages.success}}
        <div role="alert" class="alert alert-success">
          {{#each messages.success}}
            <div>{{msg}}</div>
          {{/each}}
        </div>
      {{/if}}
      {{#if messages.error}}
        <div role="alert" class="alert alert-danger">
          {{#each messages.error}}
            <div>{{msg}}</div>
          {{/each}}
        </div>
      {{/if}}
      <form method="POST" class="form-horizontal">
        <div class="form-group">
          <label for="name" class="col-sm-2">Name</label>
          <div class="col-sm-8">
            <input type="text" name="name" id="name" class="form-control" autofocus>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2">Email</label>
          <div class="col-sm-8">
            <input type="email" name="email" id="email" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="message" class="col-sm-2">Body</label>
          <div class="col-sm-8">
            <textarea name="message" id="message" rows="7" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <button type="submit" class="btn btn-success">Send</button>
          </div>
        </div>
      </form>
    </div>
    </div>
  </div>
</div> --}}
